

<div class ="row medium-12 columns">
  <h1>title</h1>
  <form>
    <div class ="row medium-12 columns">
      Title: <input type="text" id="title" name="title" ng-model="detailCtrl.article.title" /><br />
    </div>
    <div>
      Text: <input type="textarea" id="text" name="text" ng-model="detailCtrl.article.text" /><br />
    </div>
    <div>
      Url: <input type="text" id="url" name="url" ng-model="detailCtrl.article.url" /><br />
    </div>

  </form>

  <button ng-click="detailCtrl.update()">save Article</button>
  <span >
    <button ng-click="detailCtrl.delete(detailCtrl.article)">delete Article</button>
  </span>

  <a href="/articles"> back to articles</a>

</div>



