<div class ="row medium-12 columns">
  <h1>New Article</h1>
  <form>
    <div class ="row medium-12 columns">
      Title: <input type="text" id="title" name="title" ng-model="newArticleCtrl.article.title" /><br />
    </div>
    <div>
      Text: <input type="textarea" id="text" name="text" ng-model="newArticleCtrl.article.text" /><br />
    </div>
    <div>
      Url: <input type="text" id="url" name="url" ng-model="newArticleCtrl.article.url" /><br />
    </div>
    <button ng-click="newArticleCtrl.addArticle()">add Article</button>
    <a href="/articles"> back to articles</a>


  </form>

</div>


